[ng-cloak] {
	display:none !important;
}

html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	/* height: 100vw; */
	margin: 0px;
	padding: 0px;
	background-color: transparent;
}

.menu {
	background-color: transparent;
	border: none;
	height: 38px;
	margin: 16px;
	width: 36px;
}

.limite {
	max-width: 960px;
	position: relative;
	margin: 0 auto;
}

md-toolbar h1 {
	margin: auto;
}

body {
	/*display: flex !important;*/
	/*flex-direction: column;*/
	/*background: transparent;*/
	/*width: 100%;*/
}

#home {
	height: 80vh;
}

.hoverable2 {
	transition: box-shadow .25s;
	box-shadow: 0;
}

.hoverable2:hover {
	transition: box-shadow .25s;
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

header {
	/*margin-bottom: 1em;*/
	position: relative;
	display: block;
	clear: both;
}

main {
	flex: 1 0 auto;
}

footer {
	/*color: #FFFFFF;*/
	/*background-color: rgb(93,64,55);*/
}

div.main-master{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	/*background: transparent;*/
	width: 100%;
}

body {
	/*background: #adadad;*/
	/*background: #dadada;*/
	/*background-color: rgb(194, 194, 194);*/
	/*background-color: rgb(230, 230, 230);*/
    background: linear-gradient(to top right, #cecece 20%, #fff 100%);
    background-attachment: fixed;
}

div.main-master md-toolbar {
	z-index: 0;
}


#footer-brasil {
	background: none repeat scroll 0 0 #0042b1;
}

#home a{
	text-decoration: none;
	color: black;
}

#home-search {
	/*margin: 13% 0;*/
	/*height: 30vh;*/
}

#home-search md-icon.search{
	font-size: 48px;
	height: 48px;
	width: 48px;
	color: #d1d1d1;
	position: relative;
	left: 74px;
	z-index: 1;
}

#quadro-container {
	background: rgba(0, 0, 0, 0.5);
}

#quadro-container .container.layout-column{
	min-height: 86vh !important;
}

#quadro {
	background-color: white;
}

#quadro md-icon {
	margin-left: 30%;
	text-align: center;
	font-size: 108px;
	height: 108px;
}

#container-info{
	margin-bottom: 15px;
}

#container-info md-card{
	height: 100%;
}

#container-info md-card md-card-header:last-child md-card-avatar{
	margin-left: 0;
	margin-right: 12px;
}

#praca .nome .md-headline {
	font-size: 24px;
	font-weight: 900;
	line-height: 32px;
	font-size: 28px;
}

#praca .nome md-card{
	/* background-color: rgb(194, 194, 194); */
	background: linear-gradient(to top right, #4e4e4e 20%, #848484 100%);
}

#praca .nome md-card img{
	border-radius: 50%;
}

#praca .nome md-card md-card-title md-card-title-text:only-child .md-subhead{
	padding-top: 6px;
}

video#bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

#praca-speed-dial {
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 20px;
}

.cropArea {
	background: #E4E4E4;
	overflow: hidden;
	/* height: 200px; */
}

#mapPane {
	flex: 1;
}

.epr-content {
	width: 50vw;
}

@-webkit-keyframes slideFromLeft{
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}

@keyframes slideFromLeft{
	from { transform: translateX(-100%); }
	to { transform: translateX(0); }
}

@-webkit-keyframes slideToLeft{
	from { transform: translateX(0); }
	to { transform: translateX(-100%); }
}

@keyframes slideToLeft{
	from { transform: translateX(0); }
	to { transform: translateX(-100%); }
}

.epr-animate.ng-enter {
	animation: 0.5s slideFromLeft;
}

.epr-animate.ng-leave {
	animation: 0.5s slideToLeft;
}

.epr-small {
	width: 10vw;
}

.big-btn {
	height: 100%;
}

.minc-icon {
	padding-left: 2em;
}

md-content#pracas {
	height: calc(100vh - 64px);
}

.epr-avatar {
	top: 0;
	bottom: 0;
	margin: auto;
	margin-top: 1vh;
	overflow: hidden;
	width: 6em;
	height: 6em;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.epr-avatar.left {
	margin-left: 1vh;
}

.epr-avatar.right {
	margin-right: 1vh;
}

.epr-name {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	width:100%;
}

.epr-subname {
	font-size: 0.9em;
	color: gray;
	text-align:center;
	width:100%;
}

.no-action-btn {
	cursor: auto;
}

#pracas div.md-secondary-container {
	margin-bottom:0;
	z-index:100;
}

#pracas div.md-secondary-container md-icon {
	color: white;
}

#praca-card.praca-container {
	background-size: cover;
	min-height: 17rem;
	margin: 0.25rem;
	cursor: pointer;
}

#praca-card .praca-text {
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
	padding-top: 5rem;
	padding-left: 1rem;
	position: absolute;
	bottom: 0; left: 0;
	width: 100%;
	white-space: pre-line;

	font-size: 0.9rem;
	line-height: 0.9rem;
	color: rgb(171,169,169);
	pointer-events: none;
}

#praca-card .praca-text:hover {
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6))
}

#praca-card .praca-text span.big {
	font-size: 1.5rem;
	line-height: 3rem;
	color:white;
}

#praca-card menu {
	pointer-events: auto;
}

.magnifier-thumb-wrapper {
	position: relative;
	display: block;
	top: 0;
	left: 0
}

.magnifier-lens {
	position: absolute;
	border: solid 1px #ccc;
	z-index: 1000;
	top: 0;
	left: 0;
	overflow: hidden
}

.magnifier-loader {
	position: absolute;
	top: 0;
	left: 0;
	border: solid 1px #ccc;
	color: #fff;
	text-align: center;
	background: transparent;
	background: rgba(50, 50, 50, 0.5);
	z-index: 1000;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
}

.magnifier-loader-text {
	font: 13px Arial;
	margin-top: 10px
}

.magnifier-large {
	position: absolute;
	z-index: 100
}

.magnifier-preview {
	padding: 0;
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden
}

.magnifier-preview img {
	position: absolute;
	top: 0;
	left: 0
}

.opaque {
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}

.hidden {
	display: none
}

.high-ground
{
	position: relative;
	z-index: 100;
}

.activities-log {
	width: 100%;
}

.event-list {
	width: 65%;
}

.event-list .event-previewer {
	width: 45%;
	position: relative;
	float: left;
	margin: 1em;
	cursor: pointer;
}

.event-list .event-previewer > .period {
	text-transform: uppercase;
}

.event-list .event-previewer > .local {
	background-color: rgb(242, 242, 242);
	height: 1.6em;
	padding: 0.3em;
	padding-left: 1em;
	line-height: 1.6em;
	border-radius: 5px;
	overflow: hidden;
	text-transform: uppercase;
}

/*Tela HOME*/

.block {
	min-height: 100vh;
}

.tab-home {
	transition: box-shadow 0.4s;
	/*display: none;*/
}

.tab-home.fixed {
	display: none;
	z-index: 10;
	/*display: block !important;*/
	position: fixed !important;
	height: 48px;
	width: 100%;
	background-color: rgb(250, 250, 250);
	top: 0;
	left: 0;
}

.tab-home md-content {
	/*background-color: rgb(63, 81, 181);*/
	background-color: rgba(0, 0, 0, 0.23);
}

.tab-home md-tab-item {
	color: #FFFFFF;
}

.tab-home md-tab-item.md-active {
	color: orange;
}

.tab-home .red {
	background-color: red;
}

.tab-home .yellow {
	background-color: yellow;
}

.color-transition {
	/*transition: background-color 0.7s, background 0.7s;*/
    -webkit-transition: background 0.7s , background 0.7s ease-out;
    -moz-transition: background 0.7s, background 0.7s ease-out;
    -o-transition: background 0.7s, background 0.7s ease-out;
    transition: background-color 0.7s, background 0.7s ease-out;
}

.transparent.white {
	/*background-color: rgba(255, 255, 255, 0.76) !important*/
	background-color: rgba(25, 25, 25, 0.76) !important;
}

.transparent.blue {
	background-color: rgba(33, 150, 243, 0.15) !important;
}

.transparent.red {
	background-color: rgba(239, 83, 80, 0.33) !important;
}

.transparent.yellow {
	background-color: rgba(239, 234, 80, 0.33) !important;
}

.transparent.green {
	background-color: rgba(102, 187, 106, 0.33) !important;
}

md-tabs {
	height: 48px;
}

.tab-home md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
	color: #ff6a04;
	background: #ff6a04;
}

.content {
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

.content-hide {
	display: none;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

.content md-icon , .content-hide md-icon {
	font-size: 150px;
	height: 150px;
	width: 150px;
	color: #FFF;;
}

md-autocomplete {
	height: 70px;
}

md-autocomplete md-autocomplete-wrap {
	height: 70px;
}

md-autocomplete input:not(.md-input) {
	font-size: 1.5em;
	line-height: 70px;
	height: 70px;
	padding: 0 15px 0 70px;
}

.tab-home.fixed {
	background-color: transparent;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
	/*background-color: rgb(63,81,181);*/
	/*color: rgba(255,255,255,0.87);*/
	/*background-color: rgba(0, 0, 0, 0.23);*/
	 /*background-color: rgba(0, 0, 0, 0.6);*/

    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;

    background: -webkit-linear-gradient(141deg, #0874ff 0%, #00aeff 51%, #0093ff 75%);
    background: -moz-linear-gradient(141deg, #0874ff 0%, #00aeff 51%, #0093ff 75%);
    background: -o-linear-gradient(141deg, #0874ff 0%, #00aeff 51%, #0093ff 75%);
    background: linear-gradient(141deg, #0874ff 0%, #00aeff 51%, #0093ff 75%);
}

i.material-icons.middle{
	top: 6px;
	position: inherit;
	line-height: normal;
	margin-right: 10px;
}

/*TELA PRACAS DETALHADA*/

.tab-pracas {
	background: linear-gradient(29deg, #0874ff 0%, #00aeff 51%, #0093ff 75%);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
	transition: box-shadow .3s ease-out 0.1ms
}
.tab-pracas.fixed {
	box-shadow: 0 5px 10px 0px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12);
}

.tab-pracas.fixed {
	z-index: 99;
	display: block !important;
	position: fixed !important;
	height: 48px;
	width: 100%;
	background-color: rgb(250, 250, 250);
	top: 0;
	left: 0;
}

md-tabs {
	height: 48px;
}

#praca .title .material-icons {
	font-size: 35px;
	width: 35px;
	height: 35px;
}

#praca .title h1 {
	margin-left: 15px;
}

figure {
	overflow: hidden;
}

/*TEMPORARIO*/
.gridListdemoDynamicTiles md-icon {
	width: 50%;
	height: 30%;
}

.gridListdemoDynamicTiles md-icon svg {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.gridListdemoDynamicTiles .s64 {
	font-size: 64px;
}

.gridListdemoDynamicTiles .s32 {
	font-size: 48px;
}
/*md-toolbar-tools _md layout-align-space-between-center layout-row _md-toolbar-transitions*/
/*md-toolbar-tools _md layout-align-space-between-center layout-row _md-toolbar-transitions*/
.gridListdemoDynamicTiles md-icon.fa {
	display: block;
	padding-left: 0;
}

.gridListdemoDynamicTiles md-icon.s32 span {
	padding-left: 8px;
}

.gridListdemoDynamicTiles md-grid-list {
	margin: 8px;
}

.gridListdemoDynamicTiles .gray {
	background: #f5f5f5;
}

.gridListdemoDynamicTiles .green {
	background: #b9f6ca;
}

.gridListdemoDynamicTiles .yellow {
	background: #ffff8d;
}

.gridListdemoDynamicTiles .blue {
	background: #84ffff;
}

.gridListdemoDynamicTiles .darkBlue {
	background: #80d8ff;
}

.gridListdemoDynamicTiles .deepBlue {
	background: #448aff;
}

.gridListdemoDynamicTiles .purple {
	background: #b388ff;
}

.gridListdemoDynamicTiles .lightPurple {
	background: #8c9eff;
}

.gridListdemoDynamicTiles .red {
	background: #ff8a80;
}

.gridListdemoDynamicTiles .pink {
	background: #ff80ab;
}

.gridListdemoDynamicTiles md-grid-tile {
	transition: all 300ms ease-out 50ms;
}

.gridListdemoDynamicTiles md-grid-tile md-icon {
	padding-bottom: 32px;
}

.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
	background: rgba(0, 0, 0, 0.68);
	height: 36px;
}

.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
	width: 100%;
}

.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
	margin: 0;
	font-weight: 700;
	width: 100%;
	text-align: center;
}


mwl-calendar .event {
	display: inline-flex;
}

/* CALENDAR BOOTSTRAP */
.pull-right {
	float: right!important;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: #777;
	border-radius: 10px;
}
.glyphicon .glyphicon-chevron-up {
	font-family: 'Material Icons';
	text-rendering: optimizeLegibility;
	font-feature-settings: "liga" 1;
	font-style: normal;
	text-transform: none;
	line-height: 1;
	font-size: 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

mwl-calendar .cal-day-tick {
	border: 1px solid #e1e1e1;
	border-top: 0 solid;
	border-radius: 0 0 5px 5px;
	background-color: #ededed;
	text-align: center;
}

mwl-calendar .cal-day-tick {
	position: absolute;
	right: 50%;
	/*bottom: -21px;*/
	bottom: -19px;
	padding: 0 5px;
	cursor: pointer;
	z-index: 5;
	width: 26px;
	margin-right: -17px;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('/fonts/bootstrap/glyphicons-halflings-regular.eot');
	src: url('/fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-asterisk:before {
	content: "\002a";
}

.glyphicon-plus:before {
	content: "\002b";
}

.glyphicon-euro:before,
.glyphicon-eur:before {
	content: "\20ac";
}

.glyphicon-minus:before {
	content: "\2212";
}

.glyphicon-cloud:before {
	content: "\2601";
}

.glyphicon-envelope:before {
	content: "\2709";
}

.glyphicon-pencil:before {
	content: "\270f";
}

.glyphicon-glass:before {
	content: "\e001";
}

.glyphicon-music:before {
	content: "\e002";
}

.glyphicon-search:before {
	content: "\e003";
}

.glyphicon-heart:before {
	content: "\e005";
}

.glyphicon-star:before {
	content: "\e006";
}

.glyphicon-star-empty:before {
	content: "\e007";
}

.glyphicon-user:before {
	content: "\e008";
}

.glyphicon-film:before {
	content: "\e009";
}

.glyphicon-th-large:before {
	content: "\e010";
}

.glyphicon-th:before {
	content: "\e011";
}

.glyphicon-th-list:before {
	content: "\e012";
}

.glyphicon-ok:before {
	content: "\e013";
}

.glyphicon-remove:before {
	content: "\e014";
}

.glyphicon-zoom-in:before {
	content: "\e015";
}

.glyphicon-zoom-out:before {
	content: "\e016";
}

.glyphicon-off:before {
	content: "\e017";
}

.glyphicon-signal:before {
	content: "\e018";
}

.glyphicon-cog:before {
	content: "\e019";
}

.glyphicon-trash:before {
	content: "\e020";
}

.glyphicon-home:before {
	content: "\e021";
}

.glyphicon-file:before {
	content: "\e022";
}

.glyphicon-time:before {
	content: "\e023";
}

.glyphicon-road:before {
	content: "\e024";
}

.glyphicon-download-alt:before {
	content: "\e025";
}

.glyphicon-download:before {
	content: "\e026";
}

.glyphicon-upload:before {
	content: "\e027";
}

.glyphicon-inbox:before {
	content: "\e028";
}

.glyphicon-play-circle:before {
	content: "\e029";
}

.glyphicon-repeat:before {
	content: "\e030";
}

.glyphicon-refresh:before {
	content: "\e031";
}

.glyphicon-list-alt:before {
	content: "\e032";
}

.glyphicon-lock:before {
	content: "\e033";
}

.glyphicon-flag:before {
	content: "\e034";
}

.glyphicon-headphones:before {
	content: "\e035";
}

.glyphicon-volume-off:before {
	content: "\e036";
}

.glyphicon-volume-down:before {
	content: "\e037";
}

.glyphicon-volume-up:before {
	content: "\e038";
}

.glyphicon-qrcode:before {
	content: "\e039";
}

.glyphicon-barcode:before {
	content: "\e040";
}

.glyphicon-tag:before {
	content: "\e041";
}

.glyphicon-tags:before {
	content: "\e042";
}

.glyphicon-book:before {
	content: "\e043";
}

.glyphicon-bookmark:before {
	content: "\e044";
}

.glyphicon-print:before {
	content: "\e045";
}

.glyphicon-camera:before {
	content: "\e046";
}

.glyphicon-font:before {
	content: "\e047";
}

.glyphicon-bold:before {
	content: "\e048";
}

.glyphicon-italic:before {
	content: "\e049";
}

.glyphicon-text-height:before {
	content: "\e050";
}

.glyphicon-text-width:before {
	content: "\e051";
}

.glyphicon-align-left:before {
	content: "\e052";
}

.glyphicon-align-center:before {
	content: "\e053";
}

.glyphicon-align-right:before {
	content: "\e054";
}

.glyphicon-align-justify:before {
	content: "\e055";
}

.glyphicon-list:before {
	content: "\e056";
}

.glyphicon-indent-left:before {
	content: "\e057";
}

.glyphicon-indent-right:before {
	content: "\e058";
}

.glyphicon-facetime-video:before {
	content: "\e059";
}

.glyphicon-picture:before {
	content: "\e060";
}

.glyphicon-map-marker:before {
	content: "\e062";
}

.glyphicon-adjust:before {
	content: "\e063";
}

.glyphicon-tint:before {
	content: "\e064";
}

.glyphicon-edit:before {
	content: "\e065";
}

.glyphicon-share:before {
	content: "\e066";
}

.glyphicon-check:before {
	content: "\e067";
}

.glyphicon-move:before {
	content: "\e068";
}

.glyphicon-step-backward:before {
	content: "\e069";
}

.glyphicon-fast-backward:before {
	content: "\e070";
}

.glyphicon-backward:before {
	content: "\e071";
}

.glyphicon-play:before {
	content: "\e072";
}

.glyphicon-pause:before {
	content: "\e073";
}

.glyphicon-stop:before {
	content: "\e074";
}

.glyphicon-forward:before {
	content: "\e075";
}

.glyphicon-fast-forward:before {
	content: "\e076";
}

.glyphicon-step-forward:before {
	content: "\e077";
}

.glyphicon-eject:before {
	content: "\e078";
}

.glyphicon-chevron-left:before {
	content: "\e079";
}

.glyphicon-chevron-right:before {
	content: "\e080";
}

.glyphicon-plus-sign:before {
	content: "\e081";
}

.glyphicon-minus-sign:before {
	content: "\e082";
}

.glyphicon-remove-sign:before {
	content: "\e083";
}

.glyphicon-ok-sign:before {
	content: "\e084";
}

.glyphicon-question-sign:before {
	content: "\e085";
}

.glyphicon-info-sign:before {
	content: "\e086";
}

.glyphicon-screenshot:before {
	content: "\e087";
}

.glyphicon-remove-circle:before {
	content: "\e088";
}

.glyphicon-ok-circle:before {
	content: "\e089";
}

.glyphicon-ban-circle:before {
	content: "\e090";
}

.glyphicon-arrow-left:before {
	content: "\e091";
}

.glyphicon-arrow-right:before {
	content: "\e092";
}

.glyphicon-arrow-up:before {
	content: "\e093";
}

.glyphicon-arrow-down:before {
	content: "\e094";
}
.glyphicon-share-alt:before {
	content: "\e095";
}

.glyphicon-resize-full:before {
	content: "\e096";
}

.glyphicon-resize-small:before {
	content: "\e097";
}

.glyphicon-exclamation-sign:before {
	content: "\e101";
}

.glyphicon-gift:before {
	content: "\e102";
}

.glyphicon-leaf:before {
	content: "\e103";
}

.glyphicon-fire:before {
	content: "\e104";
}

.glyphicon-eye-open:before {
	content: "\e105";
}

.glyphicon-eye-close:before {
	content: "\e106";
}

.glyphicon-warning-sign:before {
	content: "\e107";
}

.glyphicon-plane:before {
	content: "\e108";
}

.glyphicon-calendar:before {
	content: "\e109";
}

.glyphicon-random:before {
	content: "\e110";
}

.glyphicon-comment:before {
	content: "\e111";
}

.glyphicon-magnet:before {
	content: "\e112";
}

.glyphicon-chevron-up:before {
	content: "\e113";
}

.glyphicon-chevron-down:before {
	content: "\e114";
}

.glyphicon-retweet:before {
	content: "\e115";
}

.glyphicon-shopping-cart:before {
	content: "\e116";
}

.glyphicon-folder-close:before {
	content: "\e117";
}

.glyphicon-folder-open:before {
	content: "\e118";
}

.glyphicon-resize-vertical:before {
	content: "\e119";
}

.glyphicon-resize-horizontal:before {
	content: "\e120";
}

.glyphicon-hdd:before {
	content: "\e121";
}

.glyphicon-bullhorn:before {
	content: "\e122";
}

.glyphicon-bell:before {
	content: "\e123";
}

.glyphicon-certificate:before {
	content: "\e124";
}

.glyphicon-thumbs-up:before {
	content: "\e125";
}

.glyphicon-thumbs-down:before {
	content: "\e126";
}

.glyphicon-hand-right:before {
	content: "\e127";
}

.glyphicon-hand-left:before {
	content: "\e128";
}

.glyphicon-hand-up:before {
	content: "\e129";
}

.glyphicon-hand-down:before {
	content: "\e130";
}

.glyphicon-circle-arrow-right:before {
	content: "\e131";
}

.glyphicon-circle-arrow-left:before {
	content: "\e132";
}

.glyphicon-circle-arrow-up:before {
	content: "\e133";
}

.glyphicon-circle-arrow-down:before {
	content: "\e134";
}

.glyphicon-globe:before {
	content: "\e135";
}

.glyphicon-wrench:before {
	content: "\e136";
}

.glyphicon-tasks:before {
	content: "\e137";
}

.glyphicon-filter:before {
	content: "\e138";
}

.glyphicon-briefcase:before {
	content: "\e139";
}

.glyphicon-fullscreen:before {
	content: "\e140";
}

.glyphicon-dashboard:before {
	content: "\e141";
}

.glyphicon-paperclip:before {
	content: "\e142";
}

.glyphicon-heart-empty:before {
	content: "\e143";
}

.glyphicon-link:before {
	content: "\e144";
}

.glyphicon-phone:before {
	content: "\e145";
}

.glyphicon-pushpin:before {
	content: "\e146";
}

.glyphicon-usd:before {
	content: "\e148";
}

.glyphicon-gbp:before {
	content: "\e149";
}

.glyphicon-sort:before {
	content: "\e150";
}

.glyphicon-sort-by-alphabet:before {
	content: "\e151";
}

.glyphicon-sort-by-alphabet-alt:before {
	content: "\e152";
}

.glyphicon-sort-by-order:before {
	content: "\e153";
}

.glyphicon-sort-by-order-alt:before {
	content: "\e154";
}

.glyphicon-sort-by-attributes:before {
	content: "\e155";
}

.glyphicon-sort-by-attributes-alt:before {
	content: "\e156";
}

.glyphicon-unchecked:before {
	content: "\e157";
}

.glyphicon-expand:before {
	content: "\e158";
}

.glyphicon-collapse-down:before {
	content: "\e159";
}

.glyphicon-collapse-up:before {
	content: "\e160";
}

.glyphicon-log-in:before {
	content: "\e161";
}

.glyphicon-flash:before {
	content: "\e162";
}

.glyphicon-log-out:before {
	content: "\e163";
}

.glyphicon-new-window:before {
	content: "\e164";
}

.glyphicon-record:before {
	content: "\e165";
}

.glyphicon-save:before {
	content: "\e166";
}

.glyphicon-open:before {
	content: "\e167";
}

.glyphicon-saved:before {
	content: "\e168";
}

.glyphicon-import:before {
	content: "\e169";
}

.glyphicon-export:before {
	content: "\e170";
}

.glyphicon-send:before {
	content: "\e171";
}

.glyphicon-floppy-disk:before {
	content: "\e172";
}

.glyphicon-floppy-saved:before {
	content: "\e173";
}

.glyphicon-floppy-remove:before {
	content: "\e174";
}

.glyphicon-floppy-save:before {
	content: "\e175";
}

.glyphicon-floppy-open:before {
	content: "\e176";
}

.glyphicon-credit-card:before {
	content: "\e177";
}

.glyphicon-transfer:before {
	content: "\e178";
}

.glyphicon-cutlery:before {
	content: "\e179";
}

.glyphicon-header:before {
	content: "\e180";
}

.glyphicon-compressed:before {
	content: "\e181";
}

.glyphicon-earphone:before {
	content: "\e182";
}

.glyphicon-phone-alt:before {
	content: "\e183";
}

.glyphicon-tower:before {
	content: "\e184";
}

.glyphicon-stats:before {
	content: "\e185";
}

.glyphicon-sd-video:before {
	content: "\e186";
}

.glyphicon-hd-video:before {
	content: "\e187";
}

.glyphicon-subtitles:before {
	content: "\e188";
}

.glyphicon-sound-stereo:before {
	content: "\e189";
}

.glyphicon-sound-dolby:before {
	content: "\e190";
}

.glyphicon-sound-5-1:before {
	content: "\e191";
}

.glyphicon-sound-6-1:before {
	content: "\e192";
}

.glyphicon-sound-7-1:before {
	content: "\e193";
}

.glyphicon-copyright-mark:before {
	content: "\e194";
}

.glyphicon-registration-mark:before {
	content: "\e195";
}

.glyphicon-cloud-download:before {
	content: "\e197";
}

.glyphicon-cloud-upload:before {
	content: "\e198";
}

.glyphicon-tree-conifer:before {
	content: "\e199";
}

.glyphicon-tree-deciduous:before {
	content: "\e200";
}

.glyphicon-cd:before {
	content: "\e201";
}

.glyphicon-save-file:before {
	content: "\e202";
}

.glyphicon-open-file:before {
	content: "\e203";
}

.glyphicon-level-up:before {
	content: "\e204";
}

.glyphicon-copy:before {
	content: "\e205";
}

.glyphicon-paste:before {
	content: "\e206";
}

.glyphicon-alert:before {
	content: "\e209";
}

.glyphicon-equalizer:before {
	content: "\e210";
}

.glyphicon-king:before {
	content: "\e211";
}

.glyphicon-queen:before {
	content: "\e212";
}

.glyphicon-pawn:before {
	content: "\e213";
}

.glyphicon-bishop:before {
	content: "\e214";
}

.glyphicon-knight:before {
	content: "\e215";
}

.glyphicon-baby-formula:before {
	content: "\e216";
}

.glyphicon-tent:before {
	content: "\26fa";
}

.glyphicon-blackboard:before {
	content: "\e218";
}

.glyphicon-bed:before {
	content: "\e219";
}

.glyphicon-apple:before {
	content: "\f8ff";
}

.glyphicon-erase:before {
	content: "\e221";
}

.glyphicon-hourglass:before {
	content: "\231b";
}

.glyphicon-lamp:before {
	content: "\e223";
}

.glyphicon-duplicate:before {
	content: "\e224";
}

.glyphicon-piggy-bank:before {
	content: "\e225";
}

.glyphicon-scissors:before {
	content: "\e226";
}

.glyphicon-bitcoin:before {
	content: "\e227";
}

.glyphicon-btc:before {
	content: "\e227";
}

.glyphicon-xbt:before {
	content: "\e227";
}

.glyphicon-yen:before {
	content: "\00a5";
}

.glyphicon-jpy:before {
	content: "\00a5";
}

.glyphicon-ruble:before {
	content: "\20bd";
}

.glyphicon-rub:before {
	content: "\20bd";
}

.glyphicon-scale:before {
	content: "\e230";
}

.glyphicon-ice-lolly:before {
	content: "\e231";
}

.glyphicon-ice-lolly-tasted:before {
	content: "\e232";
}

.glyphicon-education:before {
	content: "\e233";
}

.glyphicon-option-horizontal:before {
	content: "\e234";
}

.glyphicon-option-vertical:before {
	content: "\e235";
}

.glyphicon-menu-hamburger:before {
	content: "\e236";
}

.glyphicon-modal-window:before {
	content: "\e237";
}

.glyphicon-oil:before {
	content: "\e238";
}

.glyphicon-grain:before {
	content: "\e239";
}

.glyphicon-sunglasses:before {
	content: "\e240";
}

.glyphicon-text-size:before {
	content: "\e241";
}

.glyphicon-text-color:before {
	content: "\e242";
}

.glyphicon-text-background:before {
	content: "\e243";
}

.glyphicon-object-align-top:before {
	content: "\e244";
}

.glyphicon-object-align-bottom:before {
	content: "\e245";
}

.glyphicon-object-align-horizontal:before {
	content: "\e246";
}

.glyphicon-object-align-left:before {
	content: "\e247";
}

.glyphicon-object-align-vertical:before {
	content: "\e248";
}

.glyphicon-object-align-right:before {
	content: "\e249";
}

.glyphicon-triangle-right:before {
	content: "\e250";
}

.glyphicon-triangle-left:before {
	content: "\e251";
}

.glyphicon-triangle-bottom:before {
	content: "\e252";
}

.glyphicon-triangle-top:before {
	content: "\e253";
}

.glyphicon-console:before {
	content: "\e254";
}

.glyphicon-superscript:before {
	content: "\e255";
}

.glyphicon-subscript:before {
	content: "\e256";
}

.glyphicon-menu-left:before {
	content: "\e257";
}

.glyphicon-menu-right:before {
	content: "\e258";
}

.glyphicon-menu-down:before {
	content: "\e259";
}

.glyphicon-menu-up:before {
	content: "\e260";
}


.material-placeholder{
	width: 100%;
	height: 100%;
}

md-input-container {
	/*height: 46px;*/
	height: 56px;
}

md-input-container input.md-datepicker-input{
	width: 170px;
}

md-select {
	height: 30px;
}

.md-datepicker , .md-select-menu-container , .md-datepicker-calendar-pane{
	width: 338px;
}

/* Dynamic MENU - Start  */
.menu-dashboard{
	position: absolute;
	z-index: 2;
	left: 0;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.dynamic .menu{
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

.dynamic .menu {
	/*color: #FFF;*/
	color: #000;
	width: 48px;
	/*display: table;*/
	display: block;
	position: fixed;
	margin: 0;
	top: 33px;
	/*z-index: 1;*/
	/*height: 64px;*/
	line-height: 64px;
	white-space: nowrap;
	transition: width 0.3s;

	/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
	/*height: 100%;*/
	outline: none;
	height: calc(100vh - 97px);
}
.dynamic .menu.extended , .menu2.extended {
	transition: width 0.4s;
	width: 320px;
}
.dynamic .col_2{
	text-align: left;
	transition: display 2.5s;
	display: none;
}
.dynamic .menu.extended .col_2{
	/*-webkit-animation: fadein 1s; !* Safari, Chrome and Opera > 12.1 *!*/
	/*-moz-animation: fadein 1s; !* Firefox < 16 *!*/
	/*-ms-animation: fadein 1s; !* Internet Explorer *!*/
	/*-o-animation: fadein 1s; !* Opera < 12.1 *!*/
	/*animation: fadein 1s;*/
	display: block;
}
.dynamic .menu h2{
	margin: 0;
}
.dynamic h4 {
	margin: 0;
}
.dynamic .title{
	color: #fff;
	/*background-color: red;*/
	background-color: #1976D2;
}
.dynamic .content{
	/*height: 100vh;*/
	height: calc(100vh - 97px);
	/*height: calc(100vh );*/
	/*height: 80vh;*/
	/*background-color: green;*/
	background-color: white;
	text-shadow: none;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
	/*box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);*/
    z-index: -1;
}

.dynamic .content .scroll {
	transition: width 0.4s;
	/*overflow-y: scroll;*/
	overflow: auto;
	/*height: 100%;*/
	height: 85vh;
	width: 63px;
	/*height: 100vh;*/
	/*box-sizing:border-box;*/
	/*-moz-box-sizing:border-box;*/
	line-height:26px;
	padding: 0;
	/*padding-left: 6px;*/
	display: block;
	text-align: left;
}

.dynamic .menu.extended .scroll {
	transition: width 0.4s, background-color 0.5s;
	/*overflow-y: scroll;*/
	overflow: auto;
	/*height: 100%;*/
	height: 85vh;
	width: 195px;
	/*height: 100vh;*/
	/*box-sizing:border-box;*/
	/*-moz-box-sizing:border-box;*/
	line-height:26px;
	padding: 0;
	/*padding-left: 6px;*/
	display: block;
}

.dynamic .menu .content .row:hover {
	color: #000;
	/*background-color: rgb(255, 156, 67);*/
	background-color: rgba(255, 184, 61, 0.5);
	/*background-color: rgba(255, 105, 144, 0.34);*/
	transition: background-color 0.2s;
	/*transition: background-color 0.8s;*/
}
.dynamic .menu .content .row{
	display: block;
	transition: background-color 0.3s , color 0.3s;
	/*transition-delay: 0.3s, 4ms;*/
	/*transition-delay: 0.2s, 4ms;*/
	transition-delay: 0.1s;
	border-bottom: solid 1px rgba(0,0,0,.12);
}
.dynamic .menu .content {
	display: block;
	transition: background-color 0.3s , color 0.3s;
	/*transition-delay: 0.3s, 4ms;*/
	/*transition-delay: 0.2s, 4ms;*/
	transition-delay: 0.1s;
	border-bottom: solid 1px rgba(0,0,0,.12);
}

.dynamic .row{
	cursor: pointer;
	/*width: 100%;*/
	/*padding: 0 15px 0 15px;*/
	padding: 0 11px 0 11px;
	margin-bottom: 0;
}
.dynamic .title .row{
	height: 64px;
}
.dynamic .content .row{
	/*background-color: blue;*/
	background-color: white;
	height: 54px;
	line-height: 54px;
}
.dynamic .col{
	vertical-align: middle;
	float:left;
	/*margin: 20px;*/
}
.dynamic .col_1{
	text-align: center;
	float:left;
	width: 20%;
}
.dynamic .col_2{
	vertical-align: middle;
	float:left;
	width: 80%;
}
.dynamic i {
	vertical-align: middle;
}
/*.dynamic .col{*/
/*vertical-align: middle;*/
/*}*/

/*.material-grid {*/
/*width: 360px;*/
/*height: 360px;*/
/*font-family: "Roboto", Arial;*/
/*left: 200px;*/
/*position: relative;*/
/*}*/
section {
	width: 24px;
	height: 24px;
	float: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
}
.dynamic section {
	margin: 20px 0 0 0;
}
@keyframes materialResponse {
	0% {
		width: 0;
		height: 0;
		margin: 0;
		background: rgba(255,255,255,0.1);
	}
	100% {
		width: 250%;
		height: 250%;
		margin: -125%;
		background: rgba(255,255,255,0.4);
	}
}
section:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 999px;
	cursor: pointer;
}
section:active:before {
	animation: materialResponse 0.4s ease;
	z-index: 2;
}

.dynamic .menu .active {
	color: #fff;
	background-color: #EF6C00;
	/*background-color: #E91E63;*/
	/*background-color: #1A237E;*/
	/*box-shadow: inset 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);*/
	/*box-shadow: inset 0 1px 1px 1px rgba(0,0,0,.2);*/
	/*box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,.2);*/
	/*z-index: 4;*/
}

.menu2 {
	/*background-color: red;*/
	width: 48px;
	height: 1px;
	float: left;
	position: inherit;
	/*transition: width 0.5s;*/
	transition: width 0.4s;
}
/* Dynamic MENU - End  */

/*.material-green { background: #4CAF50; }*/
/*.material-amber { background: #FFC107; }*/
/*.material-blue { background: #2196F3; }*/
/*.material-red { background: #F44336; }*/
.material-icon {
	width: 70%;
	height: 70%;
	margin: 15%;
	position: relative;
}
.material-icon span,
.material-icon {
	transition: all 500ms ease;
}
.material-icon span {
	background-color: #fff;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.hamburger span {
	height: 17%;
	-webkit-transform: translateY(250%);
}
.hamburger .second {
	-webkit-transform: translateY(20%);
}
.hamburger .third{
	-webkit-transform: translateY(450%);
}
/* This part is added to the hamburger css so they have the same height and positioning. */
.hamburger span, .arrow span {
	height: 17%;
	-webkit-transform: translateY(240%);
}
/* I also need to move it back a bit to keep it centered. */
.arrow {
	-webkit-transform: rotate(180deg) translateX(-15%);
}
.arrow .second, .arrow .third {
	-webkit-transform: rotate(-45deg) translateY(485%) translateX(8%);
	width: 55%;
}
.arrow .second {
	-webkit-transform: rotate(45deg) translateY(-144%) translateX(102%);
}
footer {
	/*z-index: 3;*/
}
.fixed-action-btn , button.md-fab {
	z-index: 4;
}
.waves-effect.waves-pink .waves-ripple {
	background-color: rgba(255, 69, 123, 0.68);
}

#wrapper-footer-brasil{
	padding-top: 8px !important;
}

#container-grupogestor, #container-unidade, #container-rh, #container-parceiros, #container-agenda,#container-atores, #container-imagens {
	position: relative;
}

.card, .card-panel{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
}

md-grid-list md-grid-tile md-grid-tile-footer, md-grid-list md-grid-tile md-grid-tile-header {
	background: rgba(0, 0, 0, 0.58);
}

md-grid-list.content-gallery md-grid-tile{
	transition: all 0.4s ease-out;
	box-shadow: 0 35px 77px -17px rgba(0,0,0,0.44);
}

/* Comentado temporariamente por causa do erro de profundidade doc omponente zoom*/
md-grid-list.content-gallery md-grid-tile:hover
{
	box-shadow: 0 35px 77px -17px rgba(0,0,0,0.64);
	/*transform:scale(1.15);*/
	/*z-index: 3;*/
}

figcaption {
	width: 100%;
}
figcaption div.row {
	margin: 0 !important;
}
figcaption div.md-open-menu-container  {
	z-index: 4;
}

#idcultura{
	width: 56px;
	height: 56px;
}

md-list-item .md-avatar{
	margin-right: 10px;
}

.margin-right-0 {
	margin-right: 0;
}

.margin-left-0 {
	margin-left: 0;
}

.print-only {
	display: none;
}

.autocomplete-epracas-template li {
	border-bottom: 1px solid #ccc;
	height: auto;
	padding-top: 12px;
	padding-bottom: 12px;
	white-space: normal;
}

.autocomplete-epracas-template li:last-child {
	border-bottom-width: 0;
}

.autocomplete-epracas-template .item-title{
	font-size: 18px;
	font-weight: 600;
}

.autocomplete-epracas-template .item-metadata {
	font-size: 14px;
}

.autocomplete-epracas-template .item-title,
.autocomplete-epracas-template .item-metadata,
.autocomplete-epracas-template .item-metadata > span {
	display: block;
	line-height: 1.5;
}

.autocomplete-epracas-template .item-title md-icon {
	height: 18px;
	width: 18px;
}

md-autocomplete .md-show-clear-button button md-icon{
	position: absolute !important;
	left: 0 !important;
}

user-card md-card{
	margin-left: 0;
	margin-right: 0;
}

.user-card-item{
	height: 160px;
}

.user-card-item md-card-title md-card-title-text{
	word-break: break-word;
	word-spacing: all;
}

.user-card-item md-card-title-media{
	position: relative;
}

.user-card-item md-card-title-media .md-button.md-fab.md-mini,
.user-card-item md-card-title-media .md-button.md-fab.md-mini:hover {
	position: absolute;
	top: -15px;
	right: -15px;
	line-height: 20px;
	width: 30px;
	height: 30px;
	min-width: inherit;
	min-height: inherit;
	background: green;
	padding: 0;
	cursor: default;
}

.user-card-item md-card-title-media .md-button.md-fab.md-mini.second-badge {
	top: 15px;
	right: -30px;
}

.user-card-item md-card-title-media .md-button.md-fab.md-mini > md-icon{
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	min-width: inherit;
	min-height: inherit;
	display: inline;
}

gestor-detail md-card{
	margin-left: 0;
	margin-right: 0;
	height: 375px;
}

gestor-detail md-card md-card-title{
	padding-top: 0;
}

gestor-detail md-card md-card-header md-card-avatar{
	margin-top: -40px;
	width: 80px;
	height: 80px;
	display: table;
}

gestor-detail md-card md-card-header md-card-header-text > span{
	padding-left: 10px;
}

gestor-detail md-card md-card-header md-card-avatar img{
	border-radius: 50%;
	width: 100%;
	height: auto;
	max-height: 80px;
	border: 2px solid #fff;
}

gestor-detail md-card .md-headline{
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
}

gestor-detail md-card .md-subhead{
	padding-top: 0;
	font-size: 12px;
}

.card-vinculacao {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	height: 275px;
}

.card-vinculacao .md-headline{
	font-size: 20px;
}

.card-vinculacao .card-media{
	margin-right: 15px;
}

.card-vinculacao .card-media .md-avatar{
	border-radius: 50%;
}

.card-vinculacao .praca {
	border-top: solid 1px #e0e0e0;
}

.card-vinculacao md-card-title {
	padding-top: 20px;
	cursor: pointer;
}

.card-vinculacao .praca md-card-title-text{
	padding-left: 25%;
	text-align: right;
}

.card-vinculacao md-menu {
	position: absolute;
	top: 15px;
	right: 15px;
}

md-card.no-margin-left{
	margin-left: 0 !important;
}

md-card.no-margin-right{
	margin-right: 0 !important;
}

md-content.md-default-theme, md-content{
	background: none;
}


rh-detail .nome {
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	width:100%;
	margin-bottom: 0;
	padding-bottom: 1px;
}

rh-detail .funcao {
	margin-top: 0;
	padding-top: 1px;
	font-size: 0.9em;
	color: gray;
	text-align:center;
	width:100%;
}

@media (max-width: 599px) {
	#btn-login{
		margin-right: -26px;
	}

	md-autocomplete input:not(.md-input){
		font-size: 1.3em;
		line-height: 60px;
		height: 60px;
	}

	md-autocomplete, md-autocomplete md-autocomplete-wrap{
		height: 60px;
	}

	#quadro-container .container.layout-column {
		height: auto !important;
	}

	#home-search{
		position: relative;
	}

	#home-search md-icon.search{
		position: absolute;
		left: 14px;
		top: 14px;
		margin: 0;
	}

	.quadro-btns a{
		width: 100%;
	}

	md-list-item .md-avatar{
		height: auto !important;
		width: 100% !important;
		max-width: 40px;
		margin: 0 auto !important;
	}
}

@media (min-width: 0) and (max-width:959px) and (orientation:landscape) {
	/* #idcultura{ */
	/* 	width: 46px; */
	/* 	height: 46px; */
	/* } */

	.md-toolbar-tools .md-button{
		height: 48px;
		max-height: 48px
	}

	md-list-item .md-avatar{
		height: auto !important;
		width: 100% !important;
		max-width: 40px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}

	#home-search{
		position: static;
	}

	#home-search md-icon.search{
		position: relative;
	}
}

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		text-shadow:none !important;
		filter:none !important;
		-ms-filter:none !important;
		box-shadow: none !important;
	}

	body {
		margin:0;
		padding:0;
		line-height: 1.4em;
	}

	[class^='layout-']{
		display: block !important;
		max-width: none !important;
		width: 100% !important;
		padding: 0 !important;
	}

	.layout-padding,
	.layout-padding > *,
	[class^='layout-padding']{
		padding: 0!important;
		width: 100%;
		max-width: none !important;
	}

	.print-only{
		display: inline-block;
	}

	@page {
		margin: 1.5cm;
	}

	img {
		max-width: 100%;
	}

	h1,
	#container-info h2{
		font-size: 18pt;
		margin: 0 0 20px 0;
	}

	#container-info h2{
		padding-bottom: 20px !important;
		border-bottom: 1px solid #808080;
	}

	h2 {
		font-size: 16pt;
		margin: 0 0 15px 0;
	}

	h3 {
		font-size: 14pt;
		margin: 0 0 10px 0;
	}

	a, a:visited {
		text-decoration: underline;
	}

	p a {
		word-wrap: break-word;
	}

	p {
		widows: 3;
		orphans: 3;
		padding: 0 !important;
		margin: 0 0 10px 0 !important;
	}

	.home-link {
		font-size: 24pt;
		font-weight: bold;
	}

	#praca .title h1{
		margin: 0 0 15px 0;
	}

	#container-parceiros,
	#container-grupogestor,
	#container-unidade,
	#container-localizacao,
	#container-rh{
		margin-bottom: 30px;
	}

	#container-info {
		margin-bottom: 0;
	}

	#container-info md-card{
		margin-left: 0;
		margin-right: 0;
	}

	#container-info md-card-header,
	#container-info md-card-title{
		padding: 0;
	}

	#container-unidade .layout-wrap,
	#container-unidade .layout-wrap md-card{
		margin: 0;
		padding: 0;
	}

	.epr-name{
		font-size: 14px;
		font-weight: normal;
		display: inline-block;
		padding-top: 6px;
		margin-bottom: 10px;
		text-align: left;
	}

	.epr-subname{
		display: none;
	}

	.no-print,
	.tab-pracas.fixed,
	.material-icons{
		display: none !important;
	}

	#logo-print{
		width: 56px;
		height: 56px;
		margin-left: -23px;
	}

	md-toolbar:not(.md-menu-toolbar) {
		margin-bottom: 50px;
	}
}
.quadro-btns > a {
    text-transform: inherit;
}

/*class para calendario customizado*/
/*.cal-day-event {*/
	/*background-color: rgba(255, 135, 0, 0.2);*/
/*}*/

mwl-calendar .cal-month-day .cal-events-num {
	/*margin-left: 7px;*/
    position: absolute;
    left: 0;
    bottom: 10px;
}

a.pull-left.event {
	display: none;
}

.title {
	border-bottom: solid 1px #606060;
	color: rgba(0, 0, 0, 0.769) !important;
}
.title md-icon, .title h1 {
	color: rgba(0, 0,0, 0.769) !important;
}
.title a {
	color: rgb(0, 3, 189) !important;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary {
	color: rgb(255, 168, 7);
}

md-dialog-actions button {
	margin-left: 10px;
}

md-card-actions button {
	margin: 5px;
}

ep-praca-card {
	margin: 0 !important;
}

.textCap{
	text-transform: capitalize;
}
.textUpper{
	text-transform: uppercase;
}

.uiLink{
	color: rgba(10, 54, 148, 0.918);
}